@import url('https://fonts.googleapis.com/css2?family=Borel&family=Nunito&display=swap');

body {
    margin: 0 auto;
    background-color: rgb(14, 13, 37);
    font-size: 25px;
    font-family: 'Nunito', sans-serif, georgia, sans-serif;
}

header {
    display: flex;
    justify-content: start;
    background-image: url('../images/capa.jpg');
    background-size: cover;
    background-position: 80% 50%;
    width: 100%;
    height: 160px;
    color: #fff;
    text-align: left;
    font-family: 'Borel', cursive, georgia, sans-serif;
    vertical-align: bottom;
    font-size: 1.2rem;
}

h1 {
    vertical-align: center;
    margin: 0px;
}

h3 {
    font-size: 25px;
    padding: 0px;
    margin: 0px;
}

.first-box {
    font-size: 25px;
    background-image: url('../images/nath.jpg');
    background-position: 70% 40%;
    height: 300px;
    text-align: left;
    border-radius: 10px;
    background-attachment: fixed;
    display: flex;
    color: white;
    width: 80vw;
    margin: 0 auto;
    padding: 2vw;
}

.home-box {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-size: 1.2rem;
}

.vertical-center {
    position: relative;
    top: 30%;
    padding-left: 25px;
}

.radiusdois {
    border-radius: 10%;
    overflow: hidden;
    padding: 0;
    display: block;
}

.text-center {
    text-align: center;
}

.second-box {
    background-color: #aca6a291;
    border-radius: 20px;
    background-attachment: fixed;
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 2vw;
}

.facts-interests {
    text-align: left;
    color: white;
    width: 50%;
    padding: 2vw;

}

#autores {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

#ameli-gui {
    background-color: #aca6a291;
    border-radius: 10px;
    padding: 1vw;
    margin: 0 15px;
    flex: 1;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.feedback-box {
    float: right;
    margin-left: 10px;
}

.img-desktop {
    border-radius: 100px;
    overflow: hidden;
    width: 40%;
    height: auto;
}

/* pq nao precisa de img media? */
.img-media {
    border-radius: 10%;
    padding-top: 25px;
    overflow: hidden;
    width: 100%;
    height: 250px;
    margin: 0;
    display: none;
}

.rec {
    display: flex;
    flex-direction: column;
    color: #edffd9;
    width: 50%;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

.read-more {
    z-index: 3;
    background-color: #ffffffd0;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    color: #333;
    z-index: 3;
    text-align: justify;
    font-family: 'Nunito', sans-serif, georgia,
        sans-serif;

}

summary {
    cursor: pointer;
    z-index: 3;
}





#guilherme {
    background-color: #aca6a291;
    border-radius: 15px;
    padding: 10px;
    margin-right: 70px;
    margin-left: 20px;
    flex: 1;
    color: white;
    font-family: 'Nunito', sans-serif, georgia,
        sans-serif;
}

.contact-box {
    background-color: #aca6a291;
    border-radius: 30px;
    padding: 10px;
    margin-left: 180px;
    margin-bottom: 100px;
    height: 480px;
    width: 980px;
    display: flex;
    font-family: 'Nunito', sans-serif, georgia,
        sans-serif;

}

.contact-information {
    flex: 1;
    float: left;
    color: white;
    padding: 20px;
    font-size: 20px;
    margin-right: -20px;
    margin-top: 20px;

}

#map {
    width: 550px;
    height: 250px;
    flex: 1;
    float: right;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-right: 30px;
    margin-top: 35px;
}

.form {
    border-radius: 30px;
    background-color: #aca6a291;
    margin-right: 20px;
    padding-right: 20px;
    padding-top: 20px;
    max-width: 300px;
    width: 80%;
    flex: 1;
    float: right;
    color: white;
    font-family: 'Nunito', sans-serif, georgia,
        sans-serif;
}

.formfields {
    padding: 2.5px;
}

button[type=submit] {
    margin-left: 0.75rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    padding: 0.75rem;
    background-color: #333;
    color: #edffd9;
    border: none;
    border-radius: 8px;
    width: 80px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    font-family: 'Nunito', sans-serif, georgia,
        sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
    font-size: 20px;
    font-family: 'Nunito', sans-serif, georgia,
        sans-serif;
}

h2 {
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-family: 'Borel', cursive, georgia,
        sans-serif;
}

footer {
    background-color: rgb(255, 255, 255);
    color: #333;
    height: 50px;
    padding: 5px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 3;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif, georgia,
        sans-serif;
}

/* media queries media queries media queries media queries media queries */
@media screen and (max-width: 1360px) {

    header {
        font-size: 15px;
    }

    .vertical-center {
        top: 40%;
        padding-left: 15px;
    }

    li a {
        padding: 10px 5px;
        font-size: 15px;
    }

    .first-box {
        font-size: 15px;
        padding-left: 10px;
        height: 200px;
        margin-left: 20px;
        margin-right: 20px;
        display: block;
        background-image: url('../images/nathalia.jpg');
        background-repeat: unset;
        background-position: 70% 40%;
        text-align: left;
        color: black;
    }

    .description-box {
        display: none;
    }

    .second-box {
        font-size: 15px;
        margin: 0px;
        display: block;
        text-align: left;
        padding: 0px;
        border: 0px;
        background-color: rgb(14, 13, 37);
        width: 100%;
        height: 10px;
    }

    .facts {
        padding: 15px 30px;

        float: right;
        margin: -20px -10px;
    }

    .interests {
        padding: 15px 30px;
        float: right;
        margin: -20px -10px;

    }

    #autores {
        display: block;
        width: 100%;
        padding-left: 10px;

    }

    #ameli {
        padding: 10px;
        margin-right: 20px;
        margin-left: 20px;
        height: 450px;
        width: 50%;
        flex: none;
    }

    .read-more {
        background-color: white;
        color: #333;
    }

    .img-desktop {
        display: none;
    }

    .img-media {

        display: block;
        border-radius: 50px;
    }

    .rec-left {
        flex: none;
        font-size: 15px;
        width: 300px;
        margin: 0;
    }

    #guilherme {
        padding: 10px;
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 20px;
        height: 450px;
        width: 300px;
        flex: none;
    }

    footer {
        font-size: 12px;
        text-transform: uppercase;
    }

    h2 {
        font-size: 35px;
        margin: 15px;
    }

    .contact-box {
        display: block;
        margin-left: 50px;
        margin-right: 10px;
        width: 90%;
        height: 800px;
        font-size: 15px;
    }

    #map {
        width: 100%;
        height: 130px;
        align-items: center;
    }

    .form {
        margin-left: -70px;
        margin-right: 3px;
    }

    #thoughts {
        width: 250px;
        height: 150px;
    }

    .contact-information {
        text-align: center;
        padding: 20px;
        font-size: 15px;

        margin-top: 20px;

    }

    h3 {
        text-align: center;
    }
}